*{
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
}


/* Navigation Bar Section */
nav{
    width: 100%;
    color: black;
    background-color: white;
}

nav > div.content{
    width: 90%;
    margin: auto;
}

nav > div.content > div.logo{
    width: 50%;
}

nav > div.content > div.menu{
    display: flex;
    width: 50%;
}

nav > div.content > div.menu > h4{
    margin-left: 3rem;
}

nav > div.content > div.menu > div{
    margin-left: 3rem;
}

/* Home Section */

/* Projects Section */

/* About Me section */

/* Contact Me */

/* Footer */
div.footer{
    height: 4rem;
    color: white;
    background-color: black;
    width: 100%;
    margin: auto;
}

div.content{
    display: flex;
    width: 80%;
    margin: auto;
    padding: 1.4rem 0;
}

div.description{
    width: 50%;
}

div.social_media{
    width: 50%;
    color: white;
    text-align: center;
}

i.fa{
    margin-left: 2rem;
}

div.social_media > a {
    text-decoration: none;
    color: white;
}