*{
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
}

/* Navigation Bar Section */
nav{
    width: 100%;
}

nav > div.content{
    width: 85%;
    margin: auto;
    display: flex;
}

nav > div.content > div.logo{
    width: 50%;
}

nav > div.content > div.logo > div.image {
    width: 2.5rem;
    height: 2.5rem;
}

nav > div.content > div.logo > div.image > img{
    width: 100%;
    height: 100%;
}

nav > div.content > div.menu{
    width: 50%;
    display: flex;
    align-items: center;
}

nav > div.content > div.menu > h4{
    margin-left: 1.5rem;
}

nav > div.content > div.menu > div{
    margin-left: 3rem;
}

/* Home Section */
div.home{
    height: 90%;
    width: 100%;
    margin-top: 2rem;
}

div.home > div.content{
    width: 90%;
    margin: auto;
    display: flex;
}

div.home > div.content > div.left{
    width: 50%;
}

div.home > div.content > div.left > div.name{
    margin-top: 12rem;
}

div.home > div.content > div.left > div.social_media > a > i{
    color: black;
    margin-top: 3rem;
}

div.home > div.content > div.right{
    width: 50%;
}

div.home > div.content > div.right > div.image{
    height: 70%;
    width: 80%;
    margin: auto;
}

div.home > div.content > div.right > div.image > img{
    width: 100%;
    height: 100%;
}

/* Projects Section */

/* About Me section */
div.about{
    width: 100%;
}

div.about > div.content{
    width: 90%;
    margin: auto;
}

div.about > div.content > section{
    margin-top: 1.5rem;
    display: flex;
}

div.about > div.content > section > div.left{
    width: 50%;
}

div.about > div.content > section > div.left > div.tools{
    margin-top: 2rem;
}

div.about > div.content > section > div.left > div.tools > div.list{
    margin-top: 0.7rem;
    display: flex;
}

div.about > div.content > section > div.left > div.tools > div.list > div.design{
    width: 25%;
}

div.about > div.content > section > div.left > div.tools > div.list > div.design > ul {
    list-style: none;
    margin-top: 0.5rem;
}

div.about > div.content > section > div.left > div.tools > div.list > div.development{
    width: 60%;
    margin: auto;
}

div.about > div.content > section > div.left > div.tools > div.list > div.development > div.lists{
    display: flex;
}

div.about > div.content > section > div.left > div.tools > div.list > div.development > div.lists > ul{
    list-style: none;
    margin: 0.5rem;
}


div.about > div.content > section > div.right{
    width: 50%;
}

/* Contact Me */

/* Footer */
div.footer{
    height: 4rem;
    color: white;
    background-color: black;
    width: 100%;
    margin: auto;
}

div.footer > div.content{
    display: flex;
    width: 80%;
    margin: auto;
    padding: 1.4rem 0;
}

div.footer > div.content > div.description{
    width: 50%;
}

div.footer > div.content > div.social_media{
    width: 50%;
    color: white;
    text-align: center;
}

i.fa{
    margin-left: 2rem;
}

div.social_media > a {
    text-decoration: none;
    color: white;
}